// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding: var(--spacer) var(--spacer-2);
  margin-bottom: var(--spacer-3);
  background-color: var(--body-bg);
  border-bottom: 0.5px solid var(--border-color);
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 9999;
  min-width: 320px;
}

.masthead-title {
  margin-bottom: 0;
  margin-top: 0;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;

  a {
    color: inherit;
    text-decoration: none;

    img {
      width: 120px;
      border-radius: 0;
      margin: 0;
      height: auto;
    }
  }

  small {
    font-weight: 400;
    opacity: 0.5;
  }
}

// Navbar styles
.nav {
  // float: right;
  line-height: 1.25rem;
  word-spacing: 1rem;
}
